.logo-img {
  width: 25%;
  height: 25%;
  cursor: pointer;
}

.menubutton {
  font-family: sans-serif;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 3px black;
  transition: all 0.2s;
}

.menubutton:hover {
  /* color: green; */
  text-shadow: 0px 0px 3px black;
}

.connectbutton {
  outline: 0;
  border: 0;
  color: white;
  font-size: 120%;
  background: rgb(61, 91, 224);
  border: 2px solid rgb(214, 231, 255);
  padding: 4% 10%;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.connectbutton:hover {
  background: white;
  color: rgb(61, 91, 224);
  border: 2px solid rgb(60, 90, 220);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.panel {
  width: 30vh;
  height: 15vh;
  background: rgb(10, 77, 170);
  border-radius: 20px;
  word-break: break-all;
  min-height: 100px;
  min-width: 200px;
  transition: all 0.3s;
}

.amountpanel {
  width: 100%;
  height: 30vh;
  background: rgb(3, 30, 120);
  word-break: break-all;
  min-height: 260px;
  transition: all 0.3s;
  color: white;
  font-Family: "Comic Sans MS";
  padding: 30px;
  border-radius : 20px;

}

@media (max-width: 700px) {
  .amountpanel {
    text-align: center;
    min-height: 350px;
  }
  .amountinput > label {
    transform: translate(0) !important;
  }
  .amountinput p {
    transform: translate(0) !important;
  }
}

.stakedpanel {
  display: block;
  width: 40vh;
  min-width: 300px;
  min-height: 500px;
  background: rgb(10, 77, 170);
  word-break: break-all;
  position: relative;
  transition: all 0.3s;
}

.stakedpanel p {
  font-family: "Segoe UI";
  font-size: 110%;
}

.stakedtitle {
  font-family: sans-serif;
  font-size: 240%;
  font-weight: bold;
}

.stackedbutton {
  outline: 0;
  border: 0;
  padding: 5%;
  width: 200px;
  background: linear-gradient(to top, rgb(255, 72, 72), rgb(247, 141, 141));
  border-radius: 50px;
  cursor: pointer;
}

.stackedbutton:hover {
  background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 162, 162));
}

.input-group {
  width: 40%;
  margin-left: 50%;
  transform: translate(-50%);
}

.form-control {
  font-size: 150%;
  font-family: "Comic Sans MS";
  border-radius: 30px 0 0 30px;
}

.input-group-text {
  background: linear-gradient(to top, rgb(250, 130, 70), rgb(255, 85, 0));
  border-radius: 0 30px 30px 0;
  border: 1px solid rgb(250, 130, 70);
}

.amountinput > label {
  transform: translate(-170%);
}

.amountinput p {
  transform: translate(-10%);
}

.amountinput p > label {
  color: rgb(199, 146, 0);
  font-family: sans-serif;
  font-weight: bold;
}

.font-h2 {
  font-size: 130%!important;
}

.padding-left {
  padding-left:10px;
}